---
import Layout from "../layouts/Layout.astro";
import "../styles/index.tailwind.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <p class="instructions bg-black">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> message above.
    </p>
  </main>
</Layout>
